<nav class="navbar navbar-expand-lg bg-dark  py-1">
    <div class="container-fluid">
      <a class="navbar-brand ms-5 fs-3 text-white" routerLink="home"><img class="w-25 rounded-5" src="/imgs/logo-Assign.jpg" alt=""></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item me-1 ">
            <a class="nav-link active fs-5" routerLink="home" routerLinkActive="rounded-5 p-2 bg-info text-dark"  aria-current="page">Home</a>
          </li>
          <li class="nav-item me-1 ">
            <a class="nav-link active fs-5" routerLink="about" routerLinkActive="rounded-5 p-2 bg-info text-dark"  aria-current="page">About</a>
          </li>
          <li class="nav-item me-1 ">
            <a class="nav-link active fs-5" routerLink="meals/seafood" routerLinkActive="rounded-5 p-2 bg-info text-dark"  aria-current="page">Meals</a>
          </li>
          <li class="nav-item me-1 ">
            <a class="nav-link active fs-5" routerLink="team" routerLinkActive="rounded-5 p-2 bg-info text-dark"  aria-current="page">Team</a>
          </li>
          <li class="nav-item me-1 ">
            <a class="nav-link active fs-5" routerLink="contacts" routerLinkActive="rounded-5 p-2 bg-info text-dark" aria-current="page">Contacts</a>
          </li>
        
        </ul>
      </div>
    </div>
  </nav>
